<div class="news">
	<h2>publications</h2>
	<p>
		<b> Matrix Estimation for Individual Fairness</b> <br />
		Cindy Y. Zhang*, Sarah H. Cen*, Devavrat Shah <br />
		<i> International Conference on Machine Learning (ICML) 2023 </i> <br />
		We present a framework for using singular value thresholding to
		pre-process sparse, noisy data that improves individual fairness without
		sacrificing performance. <br />
		[<a href="https://arxiv.org/abs/2302.02096" target="_blank">paper</a>]
	</p>
	<p>*indicates equal contribution</p>
</div>
