<div class="social">
  <h2>projects</h2>
    <p>
      <br>
      <b> Comparing Methods of Neural Net Compression</b> <br>
      <i>6.867 Machine Learning, Fall 2020</i> <br>
      Project description here <br>
      [<a href="https://cindyyzhang.github.io/papers/ME-IF.pdf" target="_blank">slides</a>]
    </p>

    <p>
      <br>
      <b> Inference of Candidate Qualities through Political Stances</b> <br>
      <i>6.804 Computational Cognitive Science, Fall 2019</i> <br>
      [<a href="https://cindyyzhang.github.io/papers/ME-IF.pdf" target="_blank">paper</a>]
    </p>
</div>
