<div class="social">
  <h2>projects</h2>
  <p>
    <b> Demystifying Normalizing Flows for Variational Inference</b> <br />
    <i>6.435 Bayesian Modeling and Inference, Spring 2022</i> <br />
    We provide a visual guide for understanding how normalizing flows are used
    for variational inference and how they compare to other variational
    inference methods.
    <br />
    [<a
      href="https://cindyyzhang.github.io/papers/6435-project.pdf"
      target="_blank"
      >paper</a
    >]
  </p>

  <p>
    <b> Comparing Methods of Neural Net Compression</b> <br />
    <i>6.867 Machine Learning, Fall 2020</i> <br />
    We compare the effectiveness of knowledge distillation, weight-based
    pruning, and the lottery ticket hypothesis on preserving model accuracy
    while reducing model size. <br />
    [<a
      href="https://cindyyzhang.github.io/papers/6867-slides.pdf"
      target="_blank"
      >slides</a
    >]
  </p>

  <p>
    <b> Inference of Candidate Qualities through Political Stances</b> <br />
    <i>6.804 Computational Cognitive Science, Fall 2019</i> <br />
    We study how Bayesian inference and linear regression models can predict how
    personal qualities and traits are inferred from limited information about a
    political candidate's stances. <br />
    [<a
      href="https://cindyyzhang.github.io/papers/6804-project.pdf"
      target="_blank"
      >paper</a
    >]
  </p>
  <br />
</div>
