.profile {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 100%;
    }
}
.address {
    font-family: monospace;

    p { margin: 0; }
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 25px;
    padding-top: 25px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 17px;
    }
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 25px;
    padding-top: 25px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 17px;
    }
}
